.PostListPage {
  max-width: 1050px;
}


.PostListPage__Head {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.PostListPage__FilterMenu {
  width: 100%;
}

.PostListPage__CreatePostButton {
  text-transform: uppercase;
  height: 34px;
}


.PostListPage__PostList {
  margin-top: 30px;
}


@media screen and (min-width: 960px) {
  .PostListPage__Head {
    justify-content: space-between;
  }

  .PostListPage__FilterMenu {
    width: auto;
    flex-grow: 1;
    margin-right: 80px;
  }
}
